
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type"><!-- /Added by HTTrack -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="asset/logo.png" rel="icon" type="image/x-icon">
    <!-- Add icon library -->
    <!-- <link rel="stylesheet" href="asset/use.fontawesome.com/releases/v5.7.1/css/all.html" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> -->
     <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      

      
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="asset/temp/custom1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <!-- <script src="https://widgets.bitcoin.com/widget.html" id="btcwdgt"></script><script type="text/javascript" async="" src="https://static.getbutton.io/widget-send-button/js/init.js"></script> -->
    <script src="asset/temp/custom1/js/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="asset/temp/custom1/js/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="asset/temp/custom1/js/bootstrap.min.js"></script>
    <script src="asset/temp/custom1/js/wow.min.js"></script>
    
    <link href="asset/temp/custom1/css/main.css" rel="stylesheet">
    <link href="asset/temp/custom1/flaticon/flaticon.css" rel="stylesheet">
    <link href="asset/temp/custom1/css/responsive.css" rel="stylesheet">
    <link href="asset/temp/custom1/css/animate.css" rel="stylesheet">
    
    <title>Maxtrades-exchanges</title>
    <!-- <link rel="manifest" href="asset/temp/custom1/js/manifest.json"> -->
    <meta name="theme-color" content="#157AED">
    <meta name="msapplication-navbutton-color" content="#157AED">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#157AED">
    
    
    <meta name="theme-color" content="#157AED">
    <meta name="msapplication-navbutton-color" content="#157AED">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#157AED">
    
    <link href="asset/v1.png" rel="icon" type="image/x-icon">
    <link rel="icon" sizes="192x192" href="asset/v1.png">
    
    <meta name="keywords" content="Bangor, Option, Yields,  Options, Binnary">
    <meta property="og:image" content="asset/temp/custom1/images/icon/icon-310x310.png">
    
    <meta name="msapplication-square310x310logo" content="asset/temp/custom1/images/icon/icon-310x310.png">
    <meta name="msapplication-square70x70logo" content="asset/temp/custom1/images/icon/icon-310x310.png">
    <meta name="msapplication-square150x150logo" content="asset/temp/custom1/images/icon/icon-310x310.png">
    <meta name="msapplication-wide310x150logo" content="asset/temp/custom1/images/icon/icon-310x310.png">
    
    <link rel="apple-touch-icon-precomposed" href="asset/temp/custom1/images/icon/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="asset/logo.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="asset/logo.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="asset/temp/custom1/images/icon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="asset/temp/custom1/images/icon/apple-touch-icon-144x144.png">
    
    
    <meta property="og:site_name" content="Astrofxopts">
    <meta property="og:title" content="Astrofxopts- Trade Crypto &amp; Stocks with ease">
    <meta name="description" content="Online Crypto/Stocks Trading and Investment Platform. Explore a world of earning possibilities today.">
    <meta property="og:description" content="Online Crypto/ETF Stocks Trading and Investment Platform. Explore a world of earning possibilities today.">
    <meta property="og:type" content="website">
    <link href="temp/custom1/css/select2.min.css" rel="stylesheet">
    
    <style>
        /*============ testimonial_area css =============*/
    .testimonial_area {
      background: #FB9802;
      padding: 100px 0px 130px;
    }
    
    .testimonial_area .section_title:before {
      background: #fff;
    }
    
    .testimonial_area .section_title p {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
    }
    
    .testimonial_item {
      border: 1px solid #282828;
      background-color: #000;
      border-radius: 3px;
      padding: 45px 40px 40px 35px;
    }
    
    .testimonial_item .media .media-left {
      text-align: center;
      padding-right: 35px;
    }
    
    .testimonial_item .media .media-left .clients_img {
      border-radius: 3px;
      margin-bottom: 18px;
    }
    
    .testimonial_item .media .media-left img {
      width: auto;
      display: inline-block;
    }
    
    .testimonial_item .media h4 {
      font-size: 20px;
      line-height: 28px;
      color: #2760ca;
    }
    
    .testimonial_item .media p {
      font: 400 17px/26px "Lato", sans-serif;
      color: #797979;
    }
    
    /*========testimonial_area_two css =============*/
    .testimonial_area_two {
      background: #f3f3f3;
      padding: 100px 0px;
    }
    
    .testimonial_sliders {
      margin-bottom: -50px;
    }
    
    .testimonial_sliders .testimonial_item {
      border: 0px;
      border-radius: 3px;
      background-color: rgba(255, 255, 255, 0.9);
      -webkit-box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.05);
      box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.05);
      margin-bottom: 50px;
    }
    
    </style>
    
    <style data-styled="active" data-styled-version="5.1.1"></style>
</head>
<body>