
<%- include('partials/_header'); -%>


<div class="bg-about">
    <div class="container">
      <h1 class="wow slideInLeft" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: slideInLeft;">About Us</h1>
    </div>
  </div>
  <div class="container my-5 wow slideInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: slideInUp;"><p style="-webkit-font-smoothing: antialiased !important;">
      
      <!--<p><img src="https://Astrofxopts.com/asset/v1.png" width="" height="300px"></p>-->
      
      Maxtrades-exchange is a distinctive investment company offering our investors access to high-growth investment opportunities in Bitcoin markets and other services. We implement best practices of trading &amp; investing in financial markets through our operations, while offering flexibility in our investment plans. Our company benefits from an extensive network of global clients. At  Maxtrades-exchange campany, we emphasize on understanding our client’s requirement and providing suitable solutions to meet their investment criteria. Our aim is to utilize our expertise &amp; knowledge which will benefit our clients and the users of our services. Our company believes that when a team outperforms expectations, excellence becomes a reality.</p>
   </div><a href="/about" id="back-to-top" class="back-to-top fa fa-arrow-up show-back-to-top"></a>
  <script>
  /*--window Scroll functions--*/
  $(window).on('scroll', function () {
      /*--show and hide scroll to top --*/
      var ScrollTop = $('#back-to-top');
      if ($(window).scrollTop() > 500) {
          ScrollTop.fadeIn(1000);
      } else {
          ScrollTop.fadeOut(1000);
      }
  });
  </script>
  
  
  <!-- Start of HubSpot Embed Code -->
    <!-- <script type="text/javascript" id="hs-script-loader" async="" defer="" src="temp/custom1/js.hs-scripts.com/8821530.html"></script> -->
  <!-- End of HubSpot Embed Code -->
  
  
  
     
  
     
  
  
  
  
  
  <!-- Start of HubSpot Embed Code -->
  <!-- <script type="text/javascript" id="hs-script-loader" async="" defer="" src="temp/custom1/js.hs-scripts.com/8821530.html"></script> -->
  <!-- End of HubSpot Embed Code -->
  
  


<%- include('partials/_footer'); -%>