
<%- include('partials/_header'); -%>


<style>
    .bycwdgt, .btcwdgt .btcwdgt-header, .btcwdgt .btcwdgt-body, .btcwdgt .btcwdgt-footer {
        display: inline-block!important;
    }
    
    .btcwdgt-s-price .btcwdgt-body ul li {
        font-size: 12px !important;
        line-height: 1 !important;
        font-weight: 700 !important;
    }
    </style><div class="bg-about">
        <div class="container">
            <h1>Contact Us</h1>
            <p>Feel free to drop us a message, What can we help you with?</p>
        </div>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-12 col-lg-8 p-4">
        <div class="card">
        <div class="card-body">
            <div class="row p-4">
                <div class="col-3 col-lg-3 center">
                    <i class="fa fa-home fa-2x text-default"></i>
                </div>
                <div class="col-9 col-lg-9">
                    <h6 style="line-height:30px !important">USA ADDRESS:</h6>
                    <p>186 Paloma St, Winters, Texas (TX), 79567 USA.</p>
                </div>
                
                    <div class="col-9 col-lg-9">
                    <h6 style="line-height:30px !important">UK ADDRESS:</h6>
                    <p>260 Broad St,Birmingham, West Midlands B12HF GB , United Kingdom.</p>
                </div>
                <div class="col-3 col-lg-3 center">
                    <i class="fa fa-phone fa-2x text-default"></i>
                </div>
                <!-- <div class="col-9 col-lg-9">
                    <h6 style="line-height:30px !important">PHONE NUMBER:</h6>
                    <p><a href="tel://&#x202A;+1&nbsp;(406)&nbsp;219‑1125&#x202C;">&#x202A;+1&nbsp;(406)&nbsp;219‑1125&#x202C;</a></p>
                </div> -->
                <div class="col-3 col-lg-3 center">
                    <i class="fa fa-envelope fa-2x text-default"></i>
                </div>
                <div class="col-9 col-lg-9">
                    <h6 style="line-height:30px !important">EMAIL ADDRESS:</h6>
                    <p><a href="mailto:support@astrofxopts.com">support@maxtrades-exchange.com</a></p>
                </div>
            </div>
            </div>
            </div>
     </div>
         
    
    </div>
    
    </div>
    <a href="/contact" id="back-to-top" class="back-to-top fa fa-arrow-up show-back-to-top"></a>
    <script>
    /*--window Scroll functions--*/
    $(window).on('scroll', function () {
        /*--show and hide scroll to top --*/
        var ScrollTop = $('#back-to-top');
        if ($(window).scrollTop() > 500) {
            ScrollTop.fadeIn(1000);
        } else {
            ScrollTop.fadeOut(1000);
        }
    });
    </script>
    




<%- include('partials/_footer'); -%>