<%- include('partials/dashboardHeader')%>


 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper" style="min-height: 688.391px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Signals Generated</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="dashboard">Home</a></li>
              <li class="breadcrumb-item active">signals</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->

        <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        




        <div class="card">
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 mb-3">
            </div>

            <div class="col-md-12">
            <table class="table table-hover table-borderless table-striped">
              <thead>
              <tr>
                <th class="">market volatile signals</th>
              </tr>
            </thead>
            <tbody>
                                <tr>
                  <td>
                      <a href="#" class="btn-link">Forex

                      </a>
                  </td>
                  </tr>
                                    <tr>
                  <td>
                      <a href="#" class="btn-link">Crypto</a>
                  </td>
                  </tr>
                                    <tr>
                  <td>
                      <a href="#" class="btn-link">commodities</a>
                  </td>
                  </tr>
                                    <tr>
                  <td>
                      <a href="#" class="btn-link">Stocks</a>
                  </td>
                  </tr>
                  <tr>
                  <td>
                      <a href="#" class="btn-link">Indexes

                      </a>
                  </td>
                  </tr>
                  
                                    </tbody>
            </table>
                </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->


      


<%- include('partials/dashboardFooter')%>