
<%- include('partials/_header'); -%>


<div class="bg-about">
    <div class="container">
        <h1>Start Guide for members</h1>
    </div>
</div>
<div class="container my-5">
    <h3 class="mb-4">Follow the instructions on how start investment with Astrofxopts </h3>
    <p>Astrofxopts website is user-friendly and easy to understand. However, if you have any question like how to open your account, deposit, withdraw and more, please follow the step-by-step guide.</p>
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex border p-4 my-2">
                <div class="p-4">
                    <img src="temp/custom1/images/step1.png" alt="" style="width: 180px">
                </div>
                <div class="p-2 flex-grow-1">
                    <h3 class="text-primary">1. Get personal Bitcoin address</h3>
                    <p>Many users have already heard about the existence of Bitcoin, but still don't have their own wallet. There are many providers that offer free registration of cryptocurrency addresses. We recommend you to choose the most popular websites where you can become a holder of required wallet.</p>
                    <span class="bg-primary d-inline-block py-2 px-4 rounded-pill mb-3 text-white">BLOCKCHAIN , COINBASE</span>
                    <p>If you have already Register Accounted an address before with another website, don't worry: we work with any type of wallets that allow you to send and receive Bitcoin payments. Please note that during account registration you will need to set your Bitcoin account - this is your unique Bitcoin address.</p>
                    <p>A Bitcoin address is an identifier of 26-35 alphanumeric characters, beginning with the number 1 or 3, that represents a possible destination for a Bitcoin payment.</p>
                
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="d-flex border p-4 my-2">
                <div class="p-4">
                    <img src="temp/custom1/images/step2.png" alt="" style="width: 180px">
                </div>
                <div class="p-2 flex-grow-1">
                    <h3 class="text-primary">2. MAKE YOUR INVESTMENT</h3>
                    <p>Once you have Register Accounted, login to your account and go to Make Deposit section. All you need is to enter amount of your deposit, not less than $500. Depending on this amount the system will automatically select the appropriate plan. Select radio button Direct BTC transfer and click Make Deposit. Now the system offers to send deposit amount to Bitcoin address of the company. You can send any amount (but not less than $500). You should make this payment from your wallet. To do this, copy the address and use it for sending.</p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="d-flex border p-4 my-2">
                <div class="p-4">
                    <img src="temp/custom1/images/step3.png" alt="" style="width: 180px">
                </div>
                <div class="p-2 flex-grow-1">
                    <h3 class="text-primary">3. WATCH HOW YOUR INVESTMENT GROWS</h3>
                    <p>Astrofxopts uniqueness lies in the fact that profit is accrued every 60 minutes after the addition of your deposit. This process is endless, and you can stay company's investor as long as possible. Deposit is working on an ongoing basis, and brings profit every hour, 7 days a week. Note that profit is accrued at intervals of 60 minutes, accrual time coincides with the time of addition of deposit to your account. Please also note that the company's server works in GMT zone. The exact server time you can check the top of the page.</p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="d-flex border p-4 my-2">
                <div class="p-4">
                    <img src="temp/custom1/images/step4.png" alt="" style="width: 180px">
                </div>
                <div class="p-2 flex-grow-1">
                    <h3 class="text-primary">4. Withdraw your profits</h3>
                    <p>To get payout, you have to make appropriate request in your account. Go to Withdraw funds section and enter payout amount that you want to withdraw. The minimum amount you can withdraw is 0.0005 Bitcoin. Once your request is made, the system will process it instantly.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="accordion">
        <div class="card my-2">
        <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#collapseOne">
            Open an account
            </a>
        </div>
        <div id="collapseOne" class="collapse show" data-parent="#accordion">
            <div class="card-body">
            To open an account, click on the Signup link on our website and click on the “open an account” button. As soon as the page comes up, enter your personal information, with your email address and chosen password, and that’s it. This shouldn’t take more than a few minutes. Once you’ve done that, you’ll receive a confirmation from us, and you’re done. You’re now an official member of our system.
            </div>
        </div>
        </div>

        <div class="card my-2">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
            Familiarize yourself with your account
            </a>
        </div>
        <div id="collapseTwo" class="collapse" data-parent="#accordion">
            <div class="card-body">
            Once you’ve opened an account, the next thing would be to familiarize yourself with how different sections of your account works. To start, go to the login page and enter your registration username and chosen password. As soon as you’re logged on, you can explore your account and get a feel of how everything works, such as making deposits, initiating withdrawals, etc.
            </div>
        </div>
        </div>

        <div class="card my-2">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
            Make your first deposit
            </a>
        </div>
        <div id="collapseThree" class="collapse" data-parent="#accordion">
            <div class="card-body">
            You’ll need to have Bitcoins to make your deposit, and you can do this from the deposit section of your personal account. Choose from any of the investment plans that you like and make a deposit. The minimum deposit amount is $500, and you’re allowed to make as many deposits as you see fit. However, every deposit is treated as a separate investment.
            </div>
        </div>
        </div>

        <div class="card my-2">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
            Watch your investment grow
            </a>
        </div>
        <div id="collapseFour" class="collapse" data-parent="#accordion">
            <div class="card-body">
            As soon as you’ve made your deposits, there is nothing else to do, except watch your earnings accrue according to the earning schedule of the plan that you have made deposit into. This can be fun, because it means you can be anywhere you want to be in the world, and your interest will still be added to your account every hour, without you doing anything.
            </div>
        </div>
        </div>

        <div class="card my-2">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
            Initiate withdrawals
            </a>
        </div>
        <div id="collapseFive" class="collapse" data-parent="#accordion">
            <div class="card-body">
            It doesn’t take more than a few seconds to initiate your withdrawals and have your earnings paid to you. All your withdrawals are instant, and your withdrawal request will be processed to your provided Bitcoin address during registration.
            </div>
        </div>
        </div>

        <div class="card my-2">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseSix">
            Refer your friends
            </a>
        </div>
        <div id="collapseSix" class="collapse" data-parent="#accordion">
            <div class="card-body">
            You don’t need an active deposit to take advantage of our affiliate offer. As long as you’ve signed up as a member, you have only to obtain your personal affiliate link from your personal account and share it with your friends. You get rewarded as soon as they join and make their first deposit.
            </div>
        </div>
        </div>
    </div> 
</div>


<%- include('partials/_footer'); -%>